:root {
    /* side bar width */
    --sbw: 150px;
}

.round {
    border-radius: 5px;
}

.dark {
    background-color: #123;
    color: #def;
}

.light {
    background-color: rgb(165, 180, 195);
    color: rgb(4, 32, 59);
}

.mono {
    font-family: "Courier New", Courier, monospace;
}

.gray {
    background-color: rgb(95, 98, 102);
    color: rgb(208, 222, 236);
}

a {
    color: #79aee4;
}
a:hover {
    color: #83cf65;
}

.center {
    text-align: center;
}

.btn_toggle_sidebar {
    height: 2em;
    padding: 0px;
    border: solid;
    border-width: 0px;
    background-color: transparent;
    color: rgb(255, 123, 0);
}

body,
#div_contents {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(211, 228, 250));
}

#div_side_bar {
    background-image: linear-gradient(to right, rgb(33, 44, 56), #123);
    width: var(--sbw);
    height: 100%;
    /* padding: 5px; */
    box-sizing: border-box;
    color: #def;
}

#div_body {
    padding: 5px;
}

#div_side_bar a {
    display: block;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #123;
    border-width: 0px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-decoration: none;
}

#div_side_bar a:hover {
    background-color: rgb(243, 233, 233);
    border-radius: 5px 0px 0px 5px;
    color: rgb(75, 8, 8);
}

#div_search_results {
    padding: 10px;
}

#div_contents,
#div_header,
#div_footer {
    padding: 5px 10px;
    border-radius: 10px;
}

#div_header {
    z-index: 10;
    text-align: left;
    background-color: #333;
    color: rgb(244, 245, 216);
    box-shadow: 10px 10px 5px #aaaaaa;
}
#div_footer {
    text-align: center;
    background-color: #333;
    color: #eee;
    box-shadow: 10px 10px 5px #aaaaaa;
}

#div_contents {
    background-color: whitesmoke;
}

.light-1 {
    color: rgb(186, 240, 186);
}

.light-2 {
    color: rgb(240, 203, 186);
}

.inline {
    display: inline;
}

#txtSearch {
    padding: 5px 10px;
    border: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: gray;
    width: 50%;
    color: #234;
    background-color: rgb(248, 248, 212);
}
#txtSearch:focus {
    border-color: rgb(0, 140, 255);
}

.active_tab {
    width: 100%;
    background-color: whitesmoke !important;
    color: rgb(139, 64, 64);
    border-radius: 5px 0px 0px 5px;
}

.about-us {
    color: rgb(154, 199, 154);
}

.captcha {
    width: 150px;
    border: solid;
    border-color: gray;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    #div_contents,
    #div_header,
    #div_footer,
    #div_header input,
    #div_header button {
        width: 100%;
        margin-bottom: 5px;
    }
}
